body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-family: 'Raleway', sans-serif; */
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;

  color: #0c0c0c;
}
* {
  touch-action: manipulation;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

 #c {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}
#dd {
  position: absolute;
  left: 500px;
  top: 500px;
}
#shot {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
}
.info {
  font-size: 0.87vw;
  position: absolute;
  left: 3%;
  bottom: 30px;
  padding: 0 1em;
  line-height: 200%;
  display: flex;
  justify-content: flex-end;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#list {
  position: absolute;
  right: 3%;
  top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#items {
  position: relative;
  right: 0%;
  top: 0px;
  display: flex;
  justify-content: flex-end;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.imgs {
  position: relative;
  right: 0px;
  top: 0px;
  padding: -20 ;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.nombres {
  position: relative;
  right: 0px;
  top: 0px;
  padding: 0 1em;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.precios {
  position: relative;
  right: 0px;
  top: 0px;
  padding: 0 1em;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.controltexturastapiz {
  
  position: absolute;
  bottom: 88%;
  left: 2%;
  width: 10vw;
  
}

.selectortapiz {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  transform: translateX(-0%);
  animation: wheelin 0.2s 0.4s ease-in-out forwards;
}
.selector_swatchtapiz {
  transition: 0.1s ease-in;
  height: 2.8vw;
  min-width: 2.8vw;
  max-width: 2.8vw;
  flex: 1;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
  background-size: cover;
  background-position: center;
  border-radius: 25%;
  margin-left: 18px;
  margin-top: 18px;
}
.selector_swatchtapiz:hover {
  margin-top: 9px;
}

.controltexturassoporte {
  font-weight: 900;
  position: absolute;
  bottom: 55%;
  left: 2%;
  width: 10vw;
  
}

.selectorsoporte {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  transform: translateX(-0%);
  animation: wheelin 0.2s 0.4s ease-in-out forwards;
}
.selector_swatchsoporte {
  transition: 0.1s ease-in;
  height: 2.8vw;
  min-width: 2.8vw;
  max-width: 2.8vw;
  flex: 1;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
  background-size: cover;
  background-position: center;
  border-radius: 25%;
  margin-left: 18px;
  margin-top: 18px;
}
.selector_swatchsoporte:hover {
  margin-top: 9px;
}
.modelos {
    position: absolute;
      bottom: 30px;
      left: 36%;
  }

  .modelo {
    background-size: cover;
    background-position: 50%;
    background-color: 0xf1f1f1;
    margin-bottom: 5px;
    padding: 2px;
    height: 5.2vw;
    width: 5.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    float: left;
    
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .modelo img {
    height: 100%;
    width: auto;
    pointer-events: none;
    opacity: 0.5;
  }
  .modelo:hover img {

    width: 5.2vw;;
    opacity: 1;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }
  